<form
  [formGroup]="registrationForm"
  (ngSubmit)="onRegister()"
  class="form-container"
>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Registro de vehículos</mat-card-title>
      <mat-card-subtitle>Formulario de registro</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label>Placa</mat-label>
        <input formControlName="plateId" matInput placeholder="Ej. PPP-001" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Color</mat-label>
        <input formControlName="color" matInput placeholder="Ej. Plateado" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Marca</mat-label>
        <input formControlName="brand" matInput placeholder="Ej. Toyota" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Modelo</mat-label>
        <input formControlName="model" matInput placeholder="Ej. Rav4" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Motor</mat-label>
        <input
          formControlName="engine"
          matInput
          placeholder="Revisa en tu matrícula"
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Chasis</mat-label>
        <input
          formControlName="chassis"
          matInput
          placeholder="Revisa en tu matrícula"
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="full-width">
        Registrar
      </button>
    </mat-card-actions>
  </mat-card>
</form>
