.full-width {
  width: 100%;
}

.top-padding {
  padding-top: 3px;
}

.form-container {
  position: absolute;
  top: 200px;
  left: calc(50% - 150px);
  margin-top: -50px;
  margin-left: -50px;
  width: 300px;
}

:host::ng-deep .p-calendar {
  width: 100%;
}
